.drForm{
    width: 60%;
    margin: 5% auto;
    box-sizing: content-box;
    color: #0d6efd;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    padding: 20px;
    /* margin-top: 100%; */
}
.Badge{
    font-size: 100%;
    margin-bottom: 2%
}

.Col{
    margin-bottom: 2%;
}
.drImage{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: 100px;
width: 100px;
}


.button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid gray;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:after {
    content: "";
    background-color: #0d6efd;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 10px 25px 10px;
    }
  }